.category-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 2rem;
    background-color: #023047;
    scrollbar-width: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    .nav-item {
      flex-shrink: 0;
      .nav-link {
        color: #FFB703;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none;
  
        &:hover {
          color: #fff;
        }
      }
    }
  }