.chat-container { 
    position: absolute; 
    right: 15px; 
    top: 30px; 
    display: flex;  
    width: 700px;  
    height: 450px; 
  }  
  
  .sidebar {  
    width: 300px;  
    background-color: white;  
    border: 3px solid black;  
    padding: 16px;  
    max-height: 450px; 
    overflow-y: auto;
    overflow-x: hidden;
  }  

  .search-bar-chat {  
    width: 100%; /* Đảm bảo chiều rộng khớp với phần tử cha */
    padding: 4px;  
    margin-bottom: 16px;  
    border: 2px solid black;  
    border-radius: 30px;  
}
  
  .user-list {  
    list-style: none;  
    padding: 0;  
  }  
  
  .user-item {  
    display: flex;  
    align-items: center;  
    margin: 8px 0;  

  }  
  
  .user-icon {  
    width: 40px;  
    height: 40px;  
    border-radius: 50%;  
    margin-right: 8px;  
    border: 2px solid black; 
    
  }  
  
  .user-name {  
    font-weight: bold;  
  }  
  
  .chat-area {  
    flex: 1;  
    display: flex;  
    flex-direction: column;  
    border-top: 3px solid black; 
    border-right: 3px solid black; 
    border-bottom: 3px solid black; 
    background-color: white;

  }  
  
  .chat-header {  
    display: flex;  
    align-items: center;  
    background-color: white;
    font-weight: bold;  
    margin: 8px;
  }  
  
  .chat-icon {  
    width: 40px;  
    height: 40px;  
    border-radius: 50%;  
    margin-right: 8px;  
  }  
  
  .message-area {  
    flex: 1;  
    border: 1px solid #ced4da;  
    overflow-y: auto;  
    background-color: white;
    border-top: 2px solid black; 
  }  
  
  .message-input {  
    width: 100%;  
    padding: 8px;  
    border: 1px solid #ced4da;  
    border-radius: 4px;  
  }