.main-container {
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column; 
   
  }
  
  

  
  .home-container {
   
    width: 100%;
  

  }
   
  
  .homepage-buyer--most-searched-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    
    @media (max-width: 576px) {
      padding: 0;
      
    }
  }
  
  
  
  .product-list-container {
    padding: 3rem;
    max-width: 1200px;
    margin: auto;
  }
  
  .product-list-title {
    margin: 2.5rem auto;
    color: #FB8500; 
    font-weight: bold;
    font-size: 24px;
    text-align: center; 
  }
  
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 col */
    gap: 2rem; 
  }
  
  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 col trên màn hình nhỏ */
    }
  }
  
  @media (max-width: 576px) {
    .product-grid {
      grid-template-columns: repeat(1, 1fr); /* 1 col trên màn hình rất nhỏ */
    }
  }