.body {
  margin-top: 100px;
  justify-items: center;
}

.box {
  background-color: #d9d9d9;
  width: 80%;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.search-panel {
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  border: 1px solid #003049;
  border-radius: 20px;
  padding: 5px 15px;
  background-color: #fff;
  gap: 10px;
  margin-left: 15%;
}

.search-icon {
  font-size: 16px;
  color: #003049;
}

.search-bar input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #003049;
  background-color: #fff;
}

.search-bar input::placeholder {
  color: #003049;
  opacity: 0.7;
}

.box-header  {
  margin-bottom: 20px ;
  padding-bottom: 20px ;
  border-bottom: 2px black solid;
  display: flex;
}

.user-item {
  padding: 10px 0;
  display: flex;
}

.id {
  text-align: center;
  width: 20%;
}

.name {
  text-align: center;
  width: 20%;
}

.email {
  text-align: center;
  width: 20%;
}

.status {
  text-align: center;
  width: 20%;
}

.delete {
  background-color: #fb8500;
  padding: 0 20px;
  border-radius: 20px;
  margin-left: 20px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

/* Modal Buttons */
.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.modal-buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}