.noti-icon {
    top: 40px;
    font-size: 20px;
    color: #023047;
    cursor: pointer;
  }

  .notification-container {
    position: absolute;
    right: 1px; 
    top: 30px;
    width: 350px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-height: 300px; 
    overflow-y: auto; 

  
    .notification-header {
      text-align: center;
      font-weight: bold;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      background-color: #f9f9f9;
      color: #0a2a54;
    }
  
    .notification-item {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: none;
      }
  
      .notification-message {
        margin: 0;
        font-size: 14px;
        color: #333;
      }
  
      .notification-time {
        display: block;
        margin-top: 5px;
        font-size: 12px;
        color: #888;
      }
    }
  }