.main-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.category-container {
  margin-top: 60px;
  @media (max-width: 1024px) {
    margin-top: 55px;
  }
  @media (max-width: 768px) {
    margin-top: 50px;
  }
}
.profile-page-container {
  flex: 1;
  width: 100%;
  display: flex; 
  gap: 20px; 

  .profile-sidebar {
    flex: 0 0 250px; 
    padding: 20px;
    text-align: center;
  }

  .profile-content {
    padding: 20px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    

    .tabs {
      background-color: #FB8500;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      gap: 5%; /* Dùng % để linh hoạt khoảng cách */
    
      .nav-link {
        color: #023047;
        background: transparent;
        border: none;
        font-weight: bold;
        font-size: clamp(12px, 1.5vw, 16px); /* Kích thước font linh hoạt */
        transition: color 0.3s ease;
    
        &:hover {
          color: #fff;
        }
      }
    
      .nav-link.active {
        color: #fff;
      }
    
      @media (max-width: 768px) {
        gap: 1%; /* Giảm khoảng cách hơn trên màn hình nhỏ */
        .nav-link {
          font-size: clamp(9px, 1vw, 12px); /* Font nhỏ hơn trên điện thoại */
        }
      }
    }
    
    
  }
}

@media (max-width: 1024px) {
  .profile-page-container {
    flex-direction: column;
    gap: 20px;

    .profile-sidebar {
      flex: none;
      margin-right: 0; 
    }

    .profile-content {
      flex: none;
    }
  }
}
