.main-container {
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column; 
  }
  
.information {
    margin-top: 6%;
    margin-left: 9%;
    color: #023047;
    font-weight: bold;
    font-size: 27px;
}

.add-image {
    margin-top: 2%;
    margin-left: 9%;
}

.add-image-header {
    color: #023047;
    font-weight: bold;
    font-size: 18px;
}

.image-uploader-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .upload-box {
    border: 3px dashed #ccc;
    padding: 20px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .upload-box:hover {
    background-color: #f0f0f0;
  }
  
  .hidden-input {
    display: none;
  }
  
  .image-item {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .remove-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .image-count {
    font-size: 14px;
    color: #555;
  }

  .form-fields {
    div {
      margin: 2rem;
      margin-left: 5%;
      display: flex;
      justify-content: center;
      .input-container {
        border-radius: 10px;
        background-color: #D9D9D9;
        border: 1px black solid;
        width: 90%;
        padding: 0.5rem;
        word-wrap: break-word; 
        overflow-wrap: break-word; 
      }
    }
  }

.category {
    margin-left: 9%;
    margin-top: 1%;
    margin-bottom: 8rem;
}

.category-head {
    color: #023047;
    font-weight: bold;
    font-size: 18px;
}

.dropdown {
    position: relative;
  
    .dropdown-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #e0e0e0;
      border-radius: 10px;
      border: 1px black solid;
      width: 90%;
      cursor: pointer;
      user-select: none;
    }
  
    .dropdown-arrow {
      margin-left: 10px;
      transition: transform 0.3s;
    }
  
    .dropdown-arrow.open {
      transform: rotate(180deg);
    }
  
    .dropdown-menu {
        display: block; 
        visibility: hidden;
        opacity: 0; 
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        width: 90%;
        margin-top: 5px;
        padding: 0;
        list-style: none;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        max-height: 200px;
        overflow-y: auto;
        transition: visibility 0s, opacity 0.3s ease-in-out; 
    }

    .dropdown-menu.open {
        visibility: visible;
        opacity: 1;
      }
  
    .dropdown-item {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.2s;
  
      &:hover {
        background-color: #ddd;
      }
    }
  }
  
  .button-choice {
    all: unset;
    margin-top: 2rem;
    margin-left: 24rem;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.delete-button, .upload-button {
    padding: 10px 30px;
    background-color: #FB8500;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.delete-button:hover, .upload-button:hover {
    background-color: #FFB703;
    transform: scale(1.05);
}

  
