.main-container {
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column; 
  }
  
  .header-wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px; 
  }
  
  
  .signup-card {
    width: 100%;
    max-width: 400px; 
    background-color: #04293a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  
  .signup-title {
    text-align: center;
    color: #fb8500;
    margin-bottom: 20px;
  }
  
  
  .signup-input {
    border: 2px solid #fb8500;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
  }
  
  
  .signup-button {
    background-color: #fb8500;
    color: white;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  
  .signup-button:hover {
    background-color: #ffb703;
  }
  
  
  .login-text {
    text-align: center;
    margin: 0;
    color: #fff;
  }
  
  .login-text a {
    color: #fb8500;
    font-weight: bold;
    text-decoration: none;
  }
  
  .login-text a:hover {
    text-decoration: underline !important;
  }
  
  
  @media (max-width: 768px) {
    .signup-container {
      padding: 0px; 
    }
    .signup-card {
      max-width: 100%; 
      border-radius: 0; 
  }
  }
  