body 
{  
    font-family: Arial, sans-serif;  
    background-color: #f4f4f4;  
}  

.header 
{  
    top: 0;
    height: 90px;
    width: 100%;  
    padding: 15px 0 0 25px;  
    font-family: 'Jua';
    font-size: 2em;
    background: white;  
    font-weight: bold;
    border-bottom: 4px rgb(160, 160, 160) solid;
}  

.container-fuild
{
    text-align: center;
    align-items: center;
    overflow-x: hidden;
}

.main
{
    height: 550px;
    position: relative;

}

.profile
{
    font-family: 'Roboto';
    position: absolute;
    height: 210px;
    width: 210px;
    background-color: #FFB703;
    border-radius: 20px;    
    top: 30%;
    left: 2%;
}

.avatar
{
    text-align: center;
}

.avatar img
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem auto;
    border: 1px black solid;
}

.name_buyer
{
    text-align: center;
}

.join_date
{
    text-align: center;
    margin-bottom: 10px;
}

.edit_icon
{
    text-align: center;
}

.edit_icon i
{
    color: white;
    font-size: 18px;
}

.edit_profile_link
{
    text-decoration: none;
}

.order
{
    font-family: 'Roboto';
    font-size: 130%;
    color: #023047;
    top: 8%;
    left: 20%;
    width: 78%;
    position: absolute;
}

.categories
{
    background-color: #FB8500;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.all
{
    color: white;
}

.confirm, .ship, .receive, .cancel
{
}

.detail_item
{
    background-color: #EFEFD0;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px 40px 50px 80px;
}


.item
{
    margin-top: 20px;
    padding-bottom: 70px;
    display: grid;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px rgb(33, 158, 188) solid;
}

.item img
{
    width: 18%;
    height: 120%;
    border: 2px black solid;
    /* padding-bottom: 20px; */
}

.name_item
{
    position: absolute;
    left: 30%;
}


.cost_item
{
    position: absolute;
    left: 30%;
    top: 15%;
    font-weight: bold;
}


.shop_name_item
{
    position: absolute;
    left: 30%;
    top: 30%;
}


.rating
{
    color: white;
    background-color: #FB8500;
    position: absolute;
    left: 30%;
    top: 70%;
    height: 15%;
    width: 12%;
    text-align: center;
    padding-top: 0.3%;
    border-radius: 20px;
}


.view_shop
{
    color: white;
    background-color: #FB8500;
    position: absolute;
    left:50%;
    top: 70%;
    height: 15%;
    width: 12%;
    text-align: center;
    padding-top: 0.3%;
    border-radius: 20px;

}


.status_item
{
    position: absolute;
    left: 75%;
    font-weight: bold;
}


.chat_items
{
    position: fixed;
    right: 4%;
    top: 80%;
    color: white;
    background-color: #FB8500;
    height: 6%;
    width: 8%;
    text-align: center;
    padding-top: 0.3%;
    border-radius: 20px;
    font-size: 130%;
}


.footer
{
    background-color: black;
    width: 100%;  
    bottom: 0;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr auto; /* Chia footer thành 2 cột */
    grid-gap: 20px;
    position: fixed;
}

.footer_left
{
    font-family: 'Jua';
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-left: 15%;
    grid-column: 1;
}

.footer_right
{
    /* margin-right: 10%; */
    /* margin-top: 0;
    margin-bottom: 0; */
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Chia thành 2 cột bằng nhau */
    grid-gap: 0px;
    /* margin-right: 50%; */
}

.fb_logo
{
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    align-items: center;
    margin-right: -200px;
    grid-column: 1;
}

.fb_logo i, .ins_logo i, .x_logo i
{
    font-size: 24px;
    color: white;
}

.ins_logo
{
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    align-items: center;
    margin-right: 20px;
    grid-column: 2;
}

.x_logo
{
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    align-items: center;
    margin-right: 250px;
    margin-left: 40px;
    grid-column: 3;
}


