body 
{  
    font-family: Arial, sans-serif;  
    background-color: #f4f4f4;  
}  

.sign_up_header
{  
    top: 0;
    height: 90px;
    width: 100%;  
    padding: 15px 0 0 25px;  
    font-family: 'Jua';
    font-size: 2em;
    background: white;  
    font-weight: bold;
    border-bottom: 4px rgb(160, 160, 160) solid;
}  

.container-fuild
{
    position: relative;
    text-align: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main_sign_up
{
    height: 550px;
}

.sign_up
{
    margin-top: 5px;
    background-color: #023047;
    border-radius: 20px;
    width: 450px;
    height: 400px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute ;
}

.sign_up_head
{
    color: #FB8500;
    font-family: 'Roboto';
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    padding: 6px;
    margin: 0 auto; /* Căn giữa phần tử */
    width: fit-content; /* Đảm bảo kích thước phù hợp */
    margin-bottom: 30px; 
}

.sign_up_head, .sign_up_user, .sign_up_password_user, .sign_up_submit, .sign_up_ver_password
{
    width: 70%; 

}

.sign_up_user, .sign_up_password_user, .sign_up_ver_password
{
    margin: 10px 70px; 
    border-radius: 20px;
    border: 2px #FB8500 solid;
    padding: 7px 15px;
    margin-bottom: 18px; 
}

.sign_up_submit
{
    border-radius: 30px; 
    color: #023047;
    font-family: 'Roboto';
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    padding: auto;
    margin: 0 auto; /* Căn giữa phần tử */
    width: 135px;
    height: 38px;
    background-color: #FB8500;
    margin-bottom: 25px;
    
}

.divider 
{
    width: 40%; /* Chiều rộng của đường kẻ */
    height: 1px; /* Độ dày của đường kẻ */
    background-color: white; /* Màu sắc của đường kẻ */
    margin: 0 auto;
    margin-bottom: 10px;
}

.have_account
{
    color: white;
    font-family: 'Roboto';
    font-size: 100%;
    margin: 0 auto;
    width: 53%;
}

.log_in_link
{
    color: #FB8500;
    font-family: 'Roboto';
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
}

.footer
{
    background-color: black;
    width: 100%;  
    bottom: 0;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr auto; /* Chia footer thành 2 cột */
    grid-gap: 20px;
}

.footer_left
{
    font-family: 'Jua';
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-left: 15%;
    grid-column: 1;
}

.footer_right
{
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Chia thành 2 cột bằng nhau */
    grid-gap: 0px;
}

.fb_logo
{
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    align-items: center;
    margin-right: -200px;
    grid-column: 1;
}

.fb_logo i, .ins_logo i, .x_logo i
{
    font-size: 24px;
    color: white;
}

.ins_logo
{
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    align-items: center;
    margin-right: 20px;
    grid-column: 2;
}

.x_logo
{
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    align-items: center;
    margin-right: 250px;
    margin-left: 40px;
    grid-column: 3;
}


